.change{
    color:blue;
    background-color:lightgrey;
    font-size:50px;
    text-align:center;
}

.carsList li{
    font-size:30px;
    color:green;
}

.btn{
    background-color:blue;
    color:white;
    font-size:20px;
    padding:10px;
    border-radius:5px;
}