.change{
    color:blue;
    background-color:lightgrey;
    font-size:50px;
    text-align:center;
}

.carsList li{
    color:green;
    font: 50px Arial;
}

.text{
    color:rgb(81, 255, 0);
    font-size:30px;
}